/* Estilos para a seção de conteúdo */
.pokemons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilos para o conteúdo interno da seção */
.pokemons > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex: 1;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* Estilos para o número e nome do Pokémon */
.numero {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 36px;
    color: #333;
    margin: 10px 0;
}

/* Estilos para as habilidades do Pokémon */
.Skill, .Skills {
    display: inline-block;
    background-color: #78C850;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

/* Estilos para a imagem do Pokémon */
.img-container {
    margin-top: 10px; 
}

img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* Estilos para a tabela de informações */
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

td {
    border: 1px solid #ddd;
    padding: 4px 8px;
    text-align: left;
}

tbody:nth-child(odd) {
    background-color: #F0F0F0;
}

/* Reduzir o espaçamento entre as colunas */
table td, table th {
    border-right: none;
}

/* Adicionar espaçamento entre as colunas */
table tr {
    border-bottom: 8px solid transparent;
}

td.breeding {
    width: 20%; 
}

td > h2{
    font-size: 20px;
}

nav ul {
    list-style: none; 
    display: flex; 
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.botao-sair {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c79db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-sair:hover {
    background-color: #4956a5;
}

.pokemon .type{
    color: #fff;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter:brightness(1.1);
    text-align: center;
    list-style: none;
}



.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
